html {
    scroll-behavior: smooth; /* fa que els salts entre enllaços siguis suaus */
  }
  body {
    margin: 0; /* elimina espai blanc entre contingut i les vores del viewport (pantalla) */
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }
 
  .header {
    display: flex; /* permet posicionar el contingut dels elements fills */
    justify-content: space-between; /* provar amb altres alternatives: center, space-evenly, flex-start, flex-end i veure què passa */
    align-items: center;
    background-color: #222; /* color de fons */
    padding: 1rem;
  }
  