html {
  scroll-behavior: smooth; /* fa que els salts entre enllaços siguis suaus */
}
body {
  margin:0 ; /* elimina espai blanc entre contingut i les vores del viewport (pantalla) */
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
 
  background-color: rgba(204, 204, 204, 0.499);
}
header {
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding: 3% 3%;
  background-image: url(/Assets/foto\ grafica.jpg);
  background-size: cover;
  

}

h1{
  display: flex;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 0.7px black;

  
}
a {
  text-decoration: none;
  color: azure;
}

.index_principal {
display: grid;
gap: 0.5rem;
color: aliceblue;
justify-content:end;
background-color: rgb(71, 69, 69);
padding: 1rem;
border-radius: 15px;
}

.index_secundari {
display: flex;
justify-content: space-around;
align-items: center;
padding: 0.5rem 3rem;
background-color: rgb(117, 117, 117);

}

h2 {
  font-family: Arial;
  -webkit-text-stroke: 0.3px black;
  text-align: center;
}


/* exclusiva de la pagina index.html*/
.qui_soc_jo {

  padding-top: 15%;

}

.quisocjo_mes_imatge {
  display: flex;
  justify-content: space-around;
  padding: 5%;
}
.jo_camisa {
  max-height: 25rem;
  padding-left: 2rem;
}



.hobbies {
  padding: 15%;
}

.hobbies_mes_imatge {
  display:flex;
  justify-content: space-around;
  padding: 5%;
  
}

.hobbies_photo {
  max-height:25rem;
  max-width: 25rem;
  padding-right: 7%;
}

.dades_personals {
  display: flex;
  padding: 1rem 5rem;
  justify-content: space-around;
  flex: auto;

}
.adreça{
  padding: 2rem;
}
.telefon {
  padding: 2rem;
}


.Qr{
  max-width: 17rem;
  max-height: 17rem;
  padding-left: 5rem;

}
/*Aqui s'acaba la pagina d'index*/

/*Aquí comença la pàgina del CV*/
.idiomes {
  padding:15%;
}
.estudis {
  padding:15%;
}
.informatica {
  padding:15%;

}
.contingut_informatica {
 
}

.nivell_programacio {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 5%;
}


.cursos_informatica {
  padding-top: 5%;
  align-content: center;
  
}
.laboral {
  
  padding:10%;
}

.laboral_contingut {
  display: flex;
  justify-content: space-between;

  padding: 10%;
}
.img_mendel {
  max-width: max-content;
  max-height: max-content;
  padding-left: 2%;
}


/*Aquí s'acaba la pàgina del CV */

.img_social {
max-height: 2rem;

}
.social {
  width: 100%;
  background-color: blue;
  display: flex;
  justify-content: center;
 border: 1px solid #0e0c14;
}


  




